@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Bona Nova', serif;
    color: rgb(250, 250, 238);
    background-color: rgb(26, 26, 26);
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#room-name-input {
    height: 2rem;
    width: 5rem;
    background-color: rgba(255, 255, 255, 0.954);
    width: 80%;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

#room-name-input:focus {
    outline: none;
}

#room-name-submit {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    padding: 10px;
    background-color: rgb(70, 126, 230);
    border: none;
    border-radius: 5px;
}

#chat-log {
    width: 5rem;
    background-color: rgba(255, 255, 255, 0.954);
    width: 80%;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

#chat-message-input {
    background-color: rgba(255, 255, 255, 0.726);
    width: 80%;
    color: rgb(0, 0, 0);
    border-radius: 5px;
}

#chat-message-input:focus {
    outline: none;
}

#chat-message-submit {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    padding: 10px;
    background-color: rgb(78, 211, 160);
    border: none;
    border-radius: 5px;
}

#back {
    font-size: 20px;
    font-weight: bold;
    margin-top: 1rem;
    padding: 10px;
    background-color: rgba(200, 108, 71, 0.808);
    border: none;
    border-radius: 5px;
}