@import url('https://fonts.googleapis.com/css2?family=Bona+Nova:ital,wght@0,400;0,700;1,400&display=swap');

* {
    font-family: 'Bona Nova', serif;
    color: ivory;
    background-color: rgb(26, 26, 26);
}

#room-name-input {
    background-color: rgba(255, 255, 255, 0.954);
    height: 25rem;
    width: 80%;
}